---
import Image from "astro/components/Image.astro";
import materialLimpieza from "../../../public/materialLimpieza.jpg";
import personalLimpieza from "../../../public/personalLimpieza.jpg";
import transporte from "../../../public/transporte.png";
---

<section id="precios" class="limpiezaInterior">
    <div class="malla"></div>
    <h3>Precios</h3>

    <article>
        <p>
            Depende del tamaño de su vehiculo y del paquete que escoja.
        </p>
    
        
        <div class="divPadre">
            <div>
                <h4>Aproximados:</h4>
                <ul>
                    <li>$ <span class="promocion">400</span> 250 - $ 600 MXN -> Lavado basico</li>
                    <li>$ <span class="promocion">550</span> 350 - $ 1,300 MXN -> Lavado profundo</li>
                    <li>$ <span class="promocion">650</span> 450 - $ 1,500 MXN -> Lavado completo</li>
                </ul>
            </div>

            <div>
                <h4>¿Por qué estos precios?</h4>
                <ul>
                    <li>Se le cobra la cantidad de producto que se gasta en su vehiculo</li>
                    <li>Se le cobra la mano de obra</li>
                    <li>Se le cobra el transporte de ida a su ubicación</li>
                </ul>
            </div>
        </div>
    </article>

    <article class="imagenes">
        <Image src={materialLimpieza} alt="Imagen de material de limpieza"/>
        <Image src={personalLimpieza} alt="Imagen de personal de limpieza"/>
        <Image src={transporte} alt="Imagen de carro de transporte"/>
    </article>
</section>

<style>
    section {
        padding: 5px;
        background-image: url("/precios.jpg");
    }

    section::before {
        content: "¡Ofertas primer mes! ";
        position: absolute;
        top: 25px;
        right: -50px;
        text-transform: uppercase;
        text-align: center;
        font-size: 13px;
        font-weight: bold;
        color: #000;
        background: transparent; 
        height:0;
        width:150px;                      
        z-index: 50;
        border:25px solid transparent;
        border-bottom:25px solid #e01a29;
        line-height:23px;
        transform: rotate(45deg);
    }

    .divPadre div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .divPadre {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .divPadre div ul {
        padding-left: 20px;
    }

    .promocion {
        opacity: .5;
        text-decoration: line-through;
    }

    .imagenes {
        margin: 15px 0;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        gap: 20px;
        overflow-x: auto;
    }

    .imagenes img {
        width: 200px;
        height: 200px;
        border-radius: 15px;
        object-fit: unset;
    }

    @media (width >= 768px) {
        .imagenes img {
            width: 230px;
        }
    }

    @media (width >= 1080px) {
        section {
            width: 70%;
        }

        article p {
            padding: 0 50px;
        }

        .divPadre div {
            width: 50%;
        }

        .divPadre h4 {
            padding-left: 10px;
        }

        .imagenes {
            margin-top: 30px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            gap: 10px;
            margin-bottom: 20px;
        }

        .imagenes img {
            width: 250px;
        }
    }
</style>