---
import Image from "astro/components/Image.astro";
import llantasAntes from "../../../../public/llantaAntes.jpeg";
import llantasDespues from "../../../../public/llantaDespues.jpeg";
---

<section id="llantas" class="limpiezaExterior">
    <div class="malla"></div>
    <h3>Limpieza de llantas y rines completo</h3>

    <article>
        <p>
        Limpiamos las llantas y los rines de suciedad incrustada, grasa, polvo y otros residuos. Después aplicamos un protector de rayos UV y abrillantador a las llantas que le da hidrorepelencia al agua.  
        </p>
    
        <h4>Inlcuye:</h4>
    <div>
      <ul>
        <li>Limpieza de llantas</li>
        <li>Limpieza de rines</li>
        <li>Abrillantado en llantas</li>
        <li>Hidrorepelencia al agua en las llantas</li>
      </ul>
    </div>
    
    <div class="imagenes">
      <Image
        src={llantasAntes}
        alt="Imagen de una llanta antes de iniciar el servicio"
      />
      <Image
        src={llantasDespues}
        alt="Imagen de una llanta despues de terminar el servicio"
      />
    </div>
    
    </article>
</section>

<style>
  section {
      background-image: url("/panelPrincipal.jpeg");
  }

  article span {
      color: #00a447;
  }

  article div {
      width: 100%;
      display: flex;
      gap: 20px;
      overflow-x: auto;
  }

  article div img {
      width: 100%;
      height: 200px;
      border-radius: 15px;
  }

  .imagenes {
      margin: 15px 0;
      flex-wrap: nowrap;
      justify-content: space-around;
      flex-direction: row;
  }

  .imagenes img {
      width: 200px;
      height: 200px;
      border-radius: 15px;
      object-fit: unset;
  }

  @media (width >= 1080px) {
      section {
          width: 70%;
      }

      article p {
          padding: 0 50px;
      }

      article div {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;
          gap: 25px;
          margin: 20px 0;
      }

      article div img {
          width: 230px; 
      }
  }
</style>