---
import Image from "astro/components/Image.astro";
import faroRestaurado from "../../../../public/farosNuevos.jpg";
import faroSucio from "../../../../public/faroSucio.jpg";
---

<section id="llantas" class="limpiezaExterior">
    <div class="malla"></div>
    <h3>Limpieza y restauración de faros</h3>

    <article>
        <p>
        ¿Faros amarillos? No te preocupes, contactanos y ayudaremos a restaurarlos para que tengas una mejor iluminacion y apariencia.
        La duracion del producto hace que tus faros queden como nuevos hasta por 1 año. 
        </p>
    
        <h4>Inlcuye:</h4>
    <div>
      <ul>
        <li>Restauración de los faros delanteros</li>
      </ul>
    </div>
    
    <div class="imagenes">
      <Image
        src={faroSucio}
        alt="Imagen de un faro antes de iniciar el servicio"
      />
      <Image
        src={faroRestaurado}
        alt="Imagen de un faro al acabar el servicio"
      />
    </div>
    
    </article>
</section>

<style>
  section {
      background-image: url("/panelPrincipal.jpeg");
  }

  section::before {
    content: "Cotizar";
    position: absolute;
    top: 25px;
    right: -50px;
    text-transform: uppercase;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    color: #000;
    background: transparent; 
    height:0;
    width:150px;                      
    z-index: 50;
    border:25px solid transparent;
    border-bottom:25px solid #e01a29;
    line-height:23px;
    transform: rotate(45deg);
  }

  article span {
      color: #00a447;
  }

  article div {
      width: 100%;
      display: flex;
      gap: 20px;
      overflow-x: auto;
  }

  article div img {
      width: 100%;
      height: 200px;
      border-radius: 15px;
  }

  .imagenes {
      margin: 15px 0;
      flex-wrap: nowrap;
      justify-content: space-around;
      flex-direction: row;
  }

  .imagenes img {
      width: 200px;
      height: 200px;
      border-radius: 15px;
      object-fit: unset;
  }

  @media (width >= 1080px) {
      section {
          width: 70%;
      }

      article p {
          padding: 0 50px;
      }

      article div {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;
          gap: 25px;
          margin: 20px 0;
      }

      article div img {
          width: 230px; 
      }
  }
</style>