---
import Image from "astro/components/Image.astro";
import cueroRestaurado from "../../../public/cueroRestaurado.jpeg";
import plasticoRestaurado from "../../../public/restauracionPlastico.webp";
---

<section id="reacondicionamientoMoto">
    <div class="malla"></div>
    <h3>Reacondicionamiento de plasticos y/o cuero</h3>

    <article>
        <p>
            Aplicamos una mezcla especial para poder renovar el plástico negro / cuero y que vuelva a lucir como nuevo, quitando ligeras manchas y/o ligeros rasguños que pudiera tener.  
        </p>
    
        <h4>Inlcuye: <span>Reacondicionamiento de plásticos y/o cuero</span></h4>

        <div>
            <Image src={cueroRestaurado} alt="Cuero recien restaurado con apariencia nueva"/>
            <Image src={plasticoRestaurado} alt="Plastico recien restaurado con apariencia nueva"/>
        </div>
    
    </article>
</section>

<style>
    section {
        background-image: url("/motoCiudad.jpg");
    }

    h4 {
        align-self: center;
    }

    span {
        color: #bbb;
    }

    article div {
        display: flex;
        gap: 20px;
        overflow-x: auto;
    }

    article div img {
        width: 200px;
        height: 200px;
        border-radius: 15px;
        box-shadow: 0 0 15px #1e1e1e;
    }

    @media (width >= 768px) {
        section {
            display: block;
            margin: auto;
            width: 80%;
            margin-top: 40px;
        }

        article div ul {
            padding: 0 0 0 10px; 
        }

        article div img {
            width: 50%;
        }
    }

    @media (width >= 1024px) {
        section {
            width: 40%; 
        }

        article p {
            line-height: 1.5;
        }

        article h4 {
            margin-left: 0;
            text-align: center;
        }

        article div {
            justify-content: space-between;
        }

        article div img {
            width: 200px;
            height: 200px;
        }
    }
</style>