<footer>
    <h5>Todos los derechos reservados</h5>
    <p>Detallado de carros y motos en Bahías de Huatulco, Oaxaca, México</p>
    <div>
        <a href="tel:+525534276432" target="_blank" rel="noreferrer">
            <i class='bx bxs-phone'></i>
        </a>
        <a href="https://wa.me/+525534276432" target="_blank" rel="noreferrer">
            <i class='bx bxs-chat' ></i>
        </a>
    </div>
    <p><a target="_blank" href="https://icons8.com/icon/122509/traffic-jam">Favicon</a> icono de <a target="_blank" href="https://icons8.com">Icons8</a></p>
</footer>

<style>
    footer {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h5 {
        font-size: 1.4em;
        margin-bottom: 0;
    }

    p {
        font-weight: bold;
        text-align: center; /**Solo mobile */
        margin: 20px; /**Solo mobile */
    }

    div {
        width: 200px;
        display: flex;
        justify-content: space-between;
    }

    div i {
        font-size: 1.5em;
        margin: 0 20px;
        color: #2e0609;
    }

    div a:hover {
        text-shadow: 2px 2px #fff;
    }

    footer p a {
        color: #2e0609;
    }
</style>