<div class="separacion">
    <i class='bx bxs-car' ></i>
    <i class='bx bxs-car' ></i>
    <i class='bx bxs-car' ></i>
    <i class='bx bxs-car' ></i>
    <i class='bx bxs-car' ></i>
</div>

<style>
    .separacion {
        font-size: 1.4em;
        margin: 30px 0;
        display: flex;
        justify-content: space-around;
    }
</style>