---
import Image from "astro/components/Image.astro";
import interiorCompletoAntes from "../../../public/interiorCompletoAntes.jpeg";
import interiorCompletoDespues from "../../../public/interiorCompletoDespues.jpeg";
---

<section id="interiorCompleto" class="limpiezaInterior">
    <h3>Lavado interior completo</h3>
    <div class="malla"></div>

    <article>
        <p>
            Es un mantenimiento donde se busca realizar una limpieza completa. Ideal para autos que quieran verse como nuevos; muy buena opci칩n para reacondicionarlo antes de una venta. 
        </p>
    
        <h4>Inlcuye:</h4>

        <div>
            <ul>
                <li>Aspirado en toda la superficie</li>
                <li>Limpieza de tablero</li>
                <li>Limpieza de puertas</li>
                <li>Limpieza de cristales</li>
                <li>Limpieza de tapiceria</li>
                <li>Limpieza de techo</li>
                <li>Limpieza y aspirado en asientos (si son de tela)</li>
                <li>Limpieza especial en asientos (si son de cuero)</li>
                <li>Restauraci칩n de pl치sticos</li>
                <li>Restauraci칩n de cuero</li>
            </ul>
        </div>
        
        <div class="imagenes">
            <Image src={interiorCompletoAntes} alt="Imagen antes del servicio"/>
            <Image src={interiorCompletoDespues} alt="Imagen despues del servicio"/>
        </div>
    </article>
</section>

<style>
    section {
        background-image: url("/panelPrincipal.jpeg");
    }

    article div {
      width: 100%;
      display: flex;
      gap: 20px;
      overflow-x: auto;
  }

  article div img {
      width: 100%;
      height: 200px;
      border-radius: 15px;
  }

  .imagenes {
      margin: 15px 0;
      flex-wrap: nowrap;
      justify-content: space-around;
      flex-direction: row;
  }

  .imagenes img {
      width: 200px;
      height: 200px;
      border-radius: 15px;
      object-fit: unset;
  }
    
    @media (width >= 768px) {
        article div ul {
            padding: 0 0 0 10px; 
        }
    }

    @media (width >= 1185px) {
        section {
            width: 70%;
        }

        article p {
            padding: 0 50px;
        }

        article div ul {
            padding-left: 40px;
        }

        article div {
            justify-content: space-between; 
        }
    }
</style>