---
import Image from "astro/components/Image.astro";
import cueroRestaurado from "../../../public/cueroRestaurado.jpeg";
import plasticoRestaurado from "../../../public/restauracionPlastico.webp";
import lavadoInterior from "../../../public/lavadoInterior.png";
import aspiradoInterior from "../../../public/aspiradoInterior.avif";
---

<section id="interiorPersonalizado" class="limpiezaInterior">
    <div class="malla"></div>
    <h3>Lavado interior personalizado</h3>

    <article>
        <p>
            Es un mantenimiento donde se busca adaptar a lo que el cliente necesita. ¿Quién mejor que el dueño para saber lo que necesita su carro? 
        </p>
    
        <h4>Inlcuye: <span>Paquete personalizado</span></h4>

        <div class="imagenes">        
            <Image src={lavadoInterior} alt="Imagen de lavado interior con pincel y toalla en el carro"/>
            <Image src={aspiradoInterior} alt="Imagen de aspirado interior en el carro"/>
            <Image src={cueroRestaurado} alt="Cuero recien restaurado con apariencia nueva"/>
            <Image src={plasticoRestaurado} alt="Plastico recien restaurado con apariencia nueva"/>
        </div>
    </article>
</section>

<style>
    section {
        background-image: url("/carroPrincipal.jpg");
    }

    article span {
        color: #00a447;
    }

    article div {
        width: 100%;
        display: flex;
        gap: 20px;
        overflow-x: auto;
    }

    article div img {
        width: 100%;
        height: 200px;
        border-radius: 15px;
    }

    .imagenes {
        margin: 15px 0;
        flex-wrap: nowrap;
        justify-content: space-around;
        flex-direction: row;
    }

    .imagenes img {
        width: 200px;
        height: 200px;
        border-radius: 15px;
        object-fit: unset;
    }

    @media (width >= 1080px) {
        section {
            width: 70%;
        }

        article p {
            padding: 0 50px;
        }

        article div {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            gap: 25px;
            margin: 20px 0;
        }

        article div img {
            width: 230px; 
        }
    }
</style>