---
import Informacion from "../../components/moto/informacion.astro";
import LavadoCompleto from "../../components/moto/lavadoCompleto.astro";
import Reaconcionamiento from "../../components/moto/reaconcionamiento.astro";
import LavadoPersonalizado from "../../components/moto/lavadoPersonalizado.astro";
import Precios from "../../components/moto/precios.astro";
import Proximamente from "../../components/moto/proximamente.astro";
import Pie from "../../components/pie.astro";
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="favicon.png" type="image/png" >
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <meta name="theme-color" content="#242424"/>
    <title>Detallado de motos</title>
</head>
<body>
    <nav class="itemsContacto">
        <a href="tel:+529581242477" target="_blank" rel="noreferrer">
            <i class='bx bxs-phone'></i>
        </a>
        <a href="https://wa.me/+529581242477" target="_blank" rel="noreferrer">
            <i class='bx bxs-chat' ></i>
        </a>
    </nav>

    <header>
        <h1>Detallado de motos</h1>
        <a href="/">Regresar a inicio</a>
    </header>

    <main>
        <Informacion/>

        <section class="paquetes">
            <h3>Paquetes que incluimos:</h3>
            <ul>
                <li><a href="#lavadoCompletoMoto">Lavado completo</a></li>
                <li><a href="#reacondicionamientoMoto">Reacondicionamiento de plasticos / cuero</a></li>
                <li><a href="#lavadoPersonalizadoMoto">Lavado personalizado</a></li>
            </ul>
        </section>

        <section class="paquetesInfo">
            <LavadoCompleto/>
            <Reaconcionamiento/>
            <LavadoPersonalizado/>
        </section>

        <Precios/>
        <Proximamente/>
    </main>

    <Pie/>
</body>
</html>

<style>
    body {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        background-color: #ebcca0;
		color: #2e0609;
    }

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .itemsContacto {
        width: 100%;
        display: flex;
        justify-content: space-between;
        position: sticky;
        top: 10px;
        z-index: 50;
    }

    .itemsContacto i {
        font-size: 2.5em;
        margin: 0 20px;
        color: #2e0609;
    }

    .itemsContacto a:hover {
        text-shadow: 2px 2px #fff;
    }

    header h1 {
        margin-top: 0;
        margin-bottom: 0;
        text-transform: uppercase;
        text-align: center;
        font-size: 3em;
    }

    header a {
        color: #000;
        font-weight: bold;
    }

    .paquetes ul li a {
        color: #2e0609;
    }

    .paquetes h3 {
        font-size: 1.4em;
        margin-left: 20px;
    }

    .paquetes ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        font-size: 1.1em;
        gap: 15px;
        padding: 0;
    }

    @media (width >= 1024px) {
        .paquetes {
            padding-left: 40px;
        }

        .paquetesInfo {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
    }
</style>

<style is:global>
    li {
        font-weight: bold;
    }

    section {
        opacity: 0;
        scale: 0.4;
        animation: animacionImagen linear forwards;
        animation-timeline: view();
        animation-range: entry;
    }

    .paquetesInfo section {
        display: block;
        border-radius: 15px;
        box-shadow: 0 0 6px #fff;
        margin-top: 30px;
        padding: 10px;
        background-size: cover;
        background-position: center center;
        position: relative;
        color: #fff;
        font-weight: bold;
    }

    .paquetesInfo section .malla {
        position: absolute;
        top: 0;
        left: 0;
        background-color: #000;
        width: 100%;
        height: 100%;
        opacity: .7;
        border-radius: 15px;
    }

    .paquetesInfo section h3 {
        font-size: 1.5em;
        margin-left: 30px;
        position: relative;
        z-index: 5;
    }

    .paquetesInfo section article {
        display: flex;
        flex-direction: column;
        align-items: center;
        backdrop-filter: opacity(20px);
        position: relative;
        z-index: inherit;
    }

    .paquetesInfo section article p {
        padding: 0 20px;
    }

    .paquetesInfo section article h4 {
        font-size: 1.2em;
        margin-left: 30px;
    }

    @media (prefers-reduced-motion: no-preference) {
        @keyframes animacionImagen {
            from {
                opacity: 0;
                scale: 0.4;
            }
            to {
                opacity: 1;
                scale: 1;
            }
        }
    }
</style>